.app-input {
  width: 448px;
  border-radius: 50px;
  height: 51px;
  border: none;

  max-width: 448px;
  padding: 10px 0 10px 94px;
  background: $on-input-bg;

  color: #252829;

  &::placeholder{
    color: #252829;
  }
}

@media (max-width: 425px) {
  .app-input {
    width: 100% !important;
  }
}