<jw-modal id="donate-modal" class="donate-modal">
    <button class="modal-close" (click)="closeModal('donate-modal');"></button>
    <div class="payment-methods">
        <div class="method">
            <input type="radio" name="payment">
            <div class="method-image">
                <img src="../../../assets/paypal.svg" alt="">
            </div>
        </div>
        <div class="method">
            <input type="radio" name="payment">
            <div class="method-image">
                <img src="../../../assets/master.svg" alt="">
            </div>
        </div>
        <div class="method">
            <input type="radio" name="payment">
            <div class="method-image">
                <img src="../../../assets/visa.svg" alt="">
            </div>
        </div>
        <div class="method">
            <input type="radio" name="payment" checked="true">
            <div class="method-image">
                <div>Other</div>
            </div>
        </div>
    </div>
    <div class="pm-form">
        <h4>Transfer Usdt</h4>
        <form [formGroup]="paymentDataForm">

            <label for="address">Receiver address</label>
            <input id="address" type="text" formControlName="address">

            <label for="amount">Amount</label>
            <input id="amount" type="text" formControlName="amount">

            <app-button text="Continue" (click)="startTransaction()"></app-button>
        </form>
    </div>
</jw-modal>
<div class="top-background">
    <div class="background-blur">
        <app-header></app-header>
        <div class="donates-container">
            <div class="donate">
                <h2>Donate For Better World</h2>
                <div class="donate__create">
                    <app-button text="Donate" (open)="openModal('donate-modal')"></app-button>
                    <app-button text="Read more" [transparent]="true"></app-button>
                </div>
            </div>
            <div class="donate__live">
                <h4>Donate so far:</h4>
                <div class="counter">
                    <p>$</p>
                    <span>{{donatesSoFar}}</span>
                </div>
            </div>
        </div>
        <div class="jobs-container">
            <div class="jobs__item">
                <img src="../../../assets/volunteering.svg" alt="">
                <div class="job__info">
                    <h4>Volunteering</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="jobs__item">
                <img src="../../../assets/donating.svg" alt="">
                <div class="job__info">
                    <h4>Donating</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="jobs__item">
                <img src="../../../assets/supporting.svg" alt="">
                <div class="job__info">
                    <h4>Supporting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="companies">
    <div class="company">
        <img src="../../../assets/company.svg" alt="">
        <span>company name</span>
    </div>
    <div class="company">
        <img src="../../../assets/company.svg" alt="">
        <span>company name</span>
    </div>
    <div class="company">
        <img src="../../../assets/company.svg" alt="">
        <span>company name</span>
    </div>
    <div class="company">
        <img src="../../../assets/company.svg" alt="">
        <span>company name</span>
    </div>
    <div class="company">
        <img src="../../../assets/company.svg" alt="">
        <span>company name</span>
    </div>
</div>
<div class="story">
    <div class="story-container">
        <div class="story-image">
            <img src="../../../assets/story-0.png" alt="">
        </div>
        <div class="story-info">
            <h3>Story about what we do</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            <button>view our report <img src="../../../assets/arrowRight.svg" alt=""></button>
        </div>
    </div>
    <div class="story-gallery">
        <div><img src="../../../assets/story-1.png" alt=""></div>
        <div><img src="../../../assets/story-2.png" alt=""></div>
        <div><img src="../../../assets/story-3.png" alt=""></div>
        <div><img src="../../../assets/story-4.png" alt=""></div>
        <div><img src="../../../assets/story-5.png" alt=""></div>
        <div><img src="../../../assets/story-6.png" alt=""></div>
        <div><img src="../../../assets/story-7.png" alt=""></div>
        <div><img src="../../../assets/story-8.png" alt=""></div>
    </div>
</div>
<div class="join-container">
    <h3>Let’s build the world without war</h3>
    <div class="join-box">
        <div class="bg-image">
            <img src="../../../assets/join-block-background.png" alt="">
        </div>
        <div class="join-us">
            <div class="join-title">
                <h4>join our campaing!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et.</p>
            </div>
            <div class="join-info">
                <div class="info-block">
                    <div class="info-name">Donators</div>
                    <div class="info-value">154</div>
                </div>
                <div class="info-block">
                    <div class="info-name">Time left</div>
                    <div class="info-value">24 days left</div>
                </div>
                <div class="info-block">
                    <div class="info-name">donated</div>
                    <div class="info-value">{{donatesSoFar}} $</div>
                </div>
            </div>
            <app-button text="Donate"></app-button>
        </div>
    </div>
</div>