<header>
    <h2 class="company-logo">GromAIDa</h2>
    <nav class="desktop-nav" *ngIf="isOpenedNav">
        <a class="header-link" routerLink="/home" routerLinkActive="header-link__active">
            <div>Home</div>
        </a>
        <a class="header-link" routerLink="/about" routerLinkActive="header-link__active">
            <div>Who we are</div>
        </a>
        <a class="header-link" routerLink="/join-us" routerLinkActive="header-link__active">
            <div>Join us</div>
        </a>
        <a class="header-link" routerLink="/news" routerLinkActive="header-link__active">
            <div>News</div>
        </a>
        <a class="header-link" routerLink="/contacts" routerLinkActive="header-link__active">
            <div>Contacts</div>
        </a>
    </nav>
    <button class="burger-toggle" (click)="toggleMenu()" [ngClass]="{'close': isOpenedNav}" id="click-outside"></button>
    <div class="burger-menu" [ngClass]="{'opened': isOpenedNav}">
        <div class="menu" id="click-outside">
            <nav >
                <a class="header-link" routerLink="/home" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>Home</div>
                </a>
                <a class="header-link" routerLink="/about" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>Who we are</div>
                </a>
                <a class="header-link" routerLink="/join-us" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>Join us</div>
                </a>
                <a class="header-link" routerLink="/news" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>News</div>
                </a>
                <a class="header-link" routerLink="/contacts" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>Contacts</div>
                </a>
            </nav>
        </div>
    </div>
</header>