<header>
    <h2 class="company-logo">GromAIDa</h2>
    <nav>
        <a class="header-link" routerLink="/home" routerLinkActive="header-link__active">
            <div>Home</div>
        </a>
        <a class="header-link" routerLink="/about" routerLinkActive="header-link__active">
            <div>Who we are</div>
        </a>
        <a class="header-link" routerLink="/join-us" routerLinkActive="header-link__active">
            <div>Join us</div>
        </a>
        <a class="header-link" routerLink="/news" routerLinkActive="header-link__active">
            <div>News</div>
        </a>
        <a class="header-link" routerLink="/contacts" routerLinkActive="header-link__active">
            <div>Contacts</div>
        </a>
    </nav>
    
</header>