<header>
    <a routerLink="/">
        <h2 class="company-logo">GromAIDa</h2>
    </a>
    <nav class="desktop-nav">
        <a class="header-link" routerLink="/" routerLinkActive="header-link__active">
            <div>Home</div>
        </a>
        <a class="header-link" routerLink="/news" routerLinkActive="header-link__active">
            <div>News</div>
        </a>
    </nav>
    <button class="burger-toggle" (click)="toggleMenu()" [ngClass]="{'close': isOpenedNav}" id="click-outside"></button>
    <div class="burger-menu" [ngClass]="{'opened': isOpenedNav}">
        <div class="menu" id="click-outside">
            <nav>
                <a class="header-link" routerLink="/" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>Home</div>
                </a>
                <a class="header-link" routerLink="/news" routerLinkActive="header-link__active" (click)="toggleMenu()">
                    <div>News</div>
                </a>
            </nav>
        </div>
    </div>
</header>