<div class="goods-container">
    <div class="left-box">
        <div class="company-logo"><img src="../../../assets/Logotype.svg" alt=""></div>
        <div class="goods-categories">
            <ul class="list">
                <li class="item"><input type="radio" name="good-category">
                    <div>MEDICAL GOODS</div>
                </li>
                <li class="item"><input type="radio" name="good-category">
                    <div>MEDICAL GOODS</div>
                </li>
                <li class="item"><input type="radio" name="good-category">
                    <div>MEDICAL GOODS</div>
                </li>
                <li class="item"><input type="radio" name="good-category">
                    <div>MEDICAL GOODS</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-box">
        <div class="top-menu">
            <a routerLink="/news"><div class="back-button">news</div></a>
            <span class="title">List of necessary goods</span>
            <div class="search">
                <img src="../../../assets/Search.svg" alt="">
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="goods-list">
            <div class="items">
                <div class="item">
                    <div class="image">
                        <img src="../../../assets/Rectangle 66.png" alt="">
                    </div>
                    <div class="info">
                        <div class="headers">
                            <div>Goods name</div>
                            <div>Unit of measurement</div>
                            <div>Quantity</div>
                        </div>
                        <div class="name">Name</div>
                        <div class="units">kg</div>
                        <div class="quantity">400</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="../../../assets/Rectangle 66.png" alt="">
                    </div>
                    <div class="info">
                        <div class="headers">
                            <div>Goods name</div>
                            <div>Unit of measurement</div>
                            <div>Quantity</div>
                        </div>
                        <div class="name">Name</div>
                        <div class="units">kg</div>
                        <div class="quantity">400</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="paginations" *ngIf="goods">
            <a (click)="getGoods(1)">First</a>
            <a (click)="getGoods(goods.prevPage)">Previous</a>
            <span>
                <span class="current">{{goods?.page}}</span> of <span class="last">{{goods?.totalPages}}</span>
            </span>
            <a (click)="getGoods(goods.nextPage)">Next</a>
            <a (click)="getGoods(goods.totalPages)">Last</a>
        </div>
    </div>
</div>
<app-footer></app-footer>