/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;

        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            padding: 20px;
            margin: 40px;
            max-width: 808px;
            width: 100%;
            max-height: 808px;
            height: 100%;
            background: #141618;
            border-radius: 20px;
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;

        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.donate-modal {
    .jw-modal {
        .jw-modal-body {
            position: relative;
            padding: 134px 28px;
            .modal-close {
                position: absolute;
                top: 45px;
                right: 30px;
                width: 30px;
                height: 30px;
                background: none;
                border: none;

                &::after {
                    content: "";
                    position: absolute;
                    width: 42px;
                    height: 2px;
                    left: -5px;
                    background-color: #343539;
                    transform: rotate(45deg);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -5px;
                    width: 42px;
                    height: 2px;
                    background-color: #343539;
                    transform: rotate(-45deg);
                }
            }
            .payment-methods {
                display: flex;
                justify-content: left;
                flex-wrap: wrap;
                .method {
                    max-width: 150px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;

                    margin-right: 38px;
                    input {
                    }
                    .method-image {
                        width: 112px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1.6px solid #343539;
                        border-radius: 8px;
                        margin-left: 17px;
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            .pm-form {
                max-width: 516px;
                margin: 0 auto;
                h4 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    text-align: center;

                    color: #ffffff;
                    margin-top: 62px;
                    margin-bottom: 47px;
                    font-family: 'Inter';
                }

                form {
                    display: flex;
                    flex-direction: column;
                    
                    label {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 10px;
                        color: #ffffff;
                        font-family: 'Inter';
                    }
                    input {
                        background: #242628;
                        border-radius: 20px;
                        border: none;
                        margin-bottom: 44px;
                        font-family: 'Inter';
                        
                        width: 100%;
                        height: 47px;
                        padding: 0 15px;
                        font-size: 23px;
                    }
                    app-button{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .donate-modal .jw-modal .jw-modal-body .payment-methods {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .donate-modal .jw-modal .jw-modal-body .payment-methods .method {
        max-width: 97px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        /* flex-wrap: wrap; */
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods .method .method-image {
        width: 66px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.6px solid #343539;
        border-radius: 8px;
        margin-left: 17px;
    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods .method .method-image img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .donate-modal .jw-modal .jw-modal-body .pm-form h4 {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: "Inter";
    }
    .donate-modal .jw-modal .jw-modal-body .pm-form form label {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        color: #ffffff;
        font-family: "Inter";
    }
    .donate-modal .jw-modal .jw-modal-body .pm-form form input {
        background: #242628;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;
        font-family: "Inter";
        width: 100%;
        height: 47px;
        padding: 0 15px;
        font-size: 23px;
    }
    jw-modal .jw-modal .jw-modal-body {
        padding: 20px;
        margin: 0;
        max-width: 808px;
        width: 100%;
        max-height: unset;
        height: 100%;
        background: #141618;
        border-radius: unset;
    }
}


