<div class="footer-container">
    <div class="footer-first">
        <div class="footer-logo">
            <a routerLink="/">
                <div class="company-logo">
                    <img  src="assets/icons/bigLogo.svg" alt="">
                    <img class="mobile" src="assets/icons/Logotype.svg" alt="">
                </div>
            </a>
        </div>
        <div  class="footer-socials">
            <a href="#"><img src="assets/icons/instgram.svg" alt=""></a>
            <a href="#"><img src="assets/icons/linkedin.svg" alt=""></a>
            <a href="#"><img src="assets/icons/facebook.svg" alt=""></a>
        </div>
    </div>
    <div class="footer-second">
        <div class="footer-info">
            <h4>Contact us</h4>
            <a href="mailto:support@example.com">support@example.com</a>
            
        </div>
    </div>
    <div class="footer-third">
        <div class="footer-info">
            <h4>subscribe for our news updates</h4>
            <div class="subscribe-input">
                <input type="text" placeholder="enter your email">
                <button>subscribe</button>
            </div>
        </div>
        <div class="copyright">ⓒcopyright 2022</div>
    </div>
</div>
